<% provide(:title) %>

<script type="text/javascript">
	$(document).ready(function (){
		$('.bxslider').bxSlider();
	});
</script>

<div class="center hero-unit row">
  <h1 class="homeTitle row">Welcome to Misawa Youth Sports</h1>
  <!--<ul class="bxslider">
  	<li><%= image_tag("http://unplugged.ee/wp-content/uploads/2013/03/19cff64033eb4868ce3e06dc67d662e8-1050x400.jpg")%></li>
  	<li><%= image_tag("http://unplugged.ee/wp-content/uploads/2013/03/frank2.jpg")%></li> -->
  </ul>
  <h2 id="home" class="span12 row"><br>
    Register your child for sports on Misawa Air Base. <br><br> Communicate with coaches and team members.
    <br><br> <%= link_to "Sign up now!", signup_path, class: "signupBtn btn btn-large btn-primary" %>

  </h2>

</div>

